nav {
    width           : 100%;
    background-color: black;
    color           : white;
    height          : 60px;
    box-shadow      : 0 1px 3px hsla(0, 0%, 6%, 0.13);
    z-index         : 98;

    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0 1.5em;
}

nav ul {
    list-style     : none;
    display        : flex;
    width          : 50%;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color          : white;
}

.nav-buttons {
    width          : 25%;
    display        : flex;
    justify-content: space-evenly;
}

nav div button {
    border       : none;
    border-radius: 2em;
    padding      : 1em;
}

.burger {
    display: none;
}

@media screen and (max-width: 992px) {

    .mobile-hide {
        transform: translateX(100%);
    }

    .nav-links,
    .nav-buttons {
        z-index         : 98;
        background-color: black;
        position        : absolute;
        width           : 200px;
        right           : 0;
        padding         : 0 30px;
        display         : flex;
        flex-direction  : column;
        align-items     : flex-start;
        justify-content : space-around;
        transition      : transform 0.5s ease-in;
    }

    .nav-links {
        top   : 60px;
        height: 300px;
    }

    .nav-buttons {
        top   : 360px;
        height: 170px;
    }

    .nav-links li,
    .nav-links li a,
    .nav-buttons button {
        width: 100%;
    }

    .burger {
        z-index : 99;
        display : block;
        height  : 20px;
        width   : 20px;
        position: relative;
        overflow: hidden;
    }

    .burger div {
        background-color: white;
        height          : 2px;
        width           : 20px;
        position        : absolute;
        transition      : transform 0.5s ease-in;
    }

    .burger div:nth-child(1) {
        top: 0;
    }

    .burger div:nth-child(2) {
        top: 9px;
    }

    .burger div:nth-child(3) {
        bottom: 0;
    }


    .open {
        justify-content: center;
    }

    .open div:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .open div:nth-child(2) {
        transform: translateX(-20px);
    }

    .open div:nth-child(3) {
        transform: translateY(-9px) rotate(135deg);
    }
}